<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trackit">

    <!-- Permission for image picking -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="TrackIT"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:icon="@mipmap/ic_launcher">

        <!-- Expense Entry -->
        <activity android:name=".AddExpenseActivity" />

        <!-- Category Creation -->
        <activity android:name=".AddCategoryActivity" />

        <!-- Dashboard -->
        <activity android:name=".DashboardActivity" />

        <!-- Registration -->
        <activity android:name=".RegisterActivity" />

        <activity android:name=".ViewByDateActivity" />


        <!-- Login (Launch activity) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
