<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trackit">

    <!-- Permission for image picking -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>

    <application
        android:allowBackup="true"
        android:label="TrackIT"
        android:theme="@style/Theme.TrackIT"
        android:icon="@mipmap/ic_launcher">

        <!-- Expense Entry -->
        <activity android:name=".AddExpenseActivity" />

        <!-- Category Creation -->
        <activity android:name=".AddCategoryActivity" />

        <!-- Dashboard -->
        <activity android:name=".DashboardActivity" />

        <!-- Registration -->
        <activity android:name=".RegisterActivity" />

        <activity android:name=".ViewByDateActivity" />

        <activity android:name=".BudgetGoalActivity" />

        <activity android:name=".CategorySummaryActivity" />


        <!-- Login (Launch activity) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


    </application>
</manifest>
